@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic&display=swap);

body {
  font: 18px Roboto;
}

* {
    margin: 0; 
}

html {
    width: 100%; 
    height: 100vh; 
    background: whitesmoke;
    font-size: 1.0em; 
    font-family: Roboto; 
}

body {
    min-height: 100%;
}

section {
    padding: 0.5rem;
    flex-grow: 1; 
}

h1 { 
    font-size: 2.0rem;
    font-weight: normal;
}

h2 { 
    font-size: 1.25rem;
}

h3 { 
    font-size: 1.2rem;
    align-self: flex-end; 
    padding:35px
}

h4 { 
    font-weight: normal;
    padding: 0.5rem;
}

p { 
    padding-top: 0.5rem;
}

a:link, a:visited { 
    color: #235c84;
    text-decoration: none; 
}

a:hover { 
    color: rgb(25, 25, 25);
}

a:active { 
    color: rgb(96, 96, 96);
}

.title {
    padding: 20px;
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
}

table {
    border-collapse: collapse; 
    width: auto;
    margin-bottom: 0.1rem;
    font-size:20px;
    margin-left:10px;
}

td, th {
    vertical-align: top;
}

#header{
    background-image: url("../images/header.png");
    padding: 0px;
    margin: 30 px;
    color: white;
    height:7em;
    align-items: center; 
    justify-content: center;
    display:flex;
    flex-direction: row;
}

#networkImage{
    height:70px;
    width:70px;
}

#content{
    padding:50px;
    margin-top:-20px;
}

#actualValues{
    margin-left:18.3%;
    margin-right:20.5%;
    margin-bottom: 4px;
    font-size: 32px;
    font-weight: bold;
}

#pollutionData{
    margin-left:17.5%;
    margin-right:20.5%;
    font-size: 20px;
    margin-bottom:50px;
    display:flex;
}

#imageAQI {
    width: 158px;
    height: 158px;
    position: relative;
  }

#smogImage{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

#actualAQI{
    z-index: 1;
    margin: 40px 0 0 50px;
    font-weight: bolder;
    font-size: 35px;
}

.listMadrid{
    text-align: right;
    margin-top: -50px;
    font-size:22px;
    margin-left: auto;
    line-height: 53px;
    
}

.listMadrid ul li {
    list-style: none;
}

#buttons{
    margin-left:17.2%;
    margin-bottom: -20px;
    font-size:larger;
    color: #235c84;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
}

button:hover{
    color:#404040;
}

.pollutant{
    font-size: larger;
    padding:0.5%;
    margin:1rem;
}

.pollutantInfo{
    margin-left:18.5%;
    margin-bottom: -20px;
    margin-top: 10px;
}

#pollutionCharts{
    margin-left:15.7%;
    display:flex;
    flex-direction: row; 
    align-items: center;
}

canvas{
    width:768px;
    height:400px;
    margin:40px;
}

/*AQI legend next to the charts.*/
.legendTitle {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}
.legend .scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}
.legend .scale ul li {
    font-size: 18px;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
}
.legend ul.labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}
.source {
    font-size: 16px;
    color: #999;
    clear: both;
}
.legend a {
    color: #404040;
}

#information{
    text-align: justify;
    text-justify: inter-word;
}

/*Footer end page*/
#footer{
    background-image: url("../images/footer.png");
    padding: 0px;
    margin: 30 px;
    color: white;
    height:7em;
    width:100%;
    display:flex;
    justify-content: space-between;
}

#usalImage{
    height:80px;
    width:230px;
    padding:20px;
}

/* Responsive styles*/
@media screen and (max-width: 1300px) { /* if viewport width < 1300px */
    .title{
        font-size:3rem;
    }

    #actualValues{
        margin-left:5%;
    }

    #pollutionData{
        margin-left:5%;
        margin-right: 5%
    }

    .pollutantInfo{
        margin-left:5%;
    }

    #buttons{
        margin-left:5%;
    }

    #pollutionCharts{
        margin-left:0%;
        display:inline-block;
    }

    .legend{
        margin-left:7%;
    }

    p{
        font-size:14px;
    }

    #information{
        margin-left:5%;
        margin-right: 5%;
    }
}
